 <!-- form handling -->
 <form action="/load-data/add-meal" method="POST" id="add_user">
   <form action="/load-data/add-meal" method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Title</label>
            <input type="hidden" name="id" value="{{Title}}">
            <input type="text" name="Title" value="{{Title}}" placeholder="">
        </div>
           <div class="form-group">
            <label for="name" class="text-light">Description</label>
            <input type="hidden" name="id" value="{{Description}}">
            <input type="text" name="Description" value="{{Description}}" placeholder="">
        </div>
           <div class="form-group">
            <label for="name" class="text-light">Price</label>
            <input type="hidden" name="id" value="{{Price}}">
            <input type="text" name="Price" value="{{Price}}" placeholder="">
        </div>
           <div class="form-group">
            <label for="name" class="text-light">TopMeal</label>
            <input type="hidden" name="id" value="{{TopMeal}}">
            <input type="text" name="TopMeal" value="{{TopMeal}}" placeholder="">
        </div>
           <div class="form-group">
            <label for="name" class="text-light">Image</label>
            <input type="hidden" name="id" value="{{Image}}">
            <input type="text" name="Image" value="{{Image}}" placeholder="">
        </div>
      

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>