<section class="menu" id="menu">
        <div class="heading">

            <h2>Top Meals</h2>
        </div>
        <div class="menu-container">
            {{#each mealKits}}
            <a href="details/{{Title}}"> 
            <div class="box">
                <div class="box-img">
                    <img src={{Image}} alt="">
                    <h2>{{Topic}}</h2>
                    <h4>{{Description}}</h4>
                    <span class="btn">{{Price}}</span>
                </div>
            </div>
            </a>
            {{/each}}
        </div>
</section>
<section class="service" id="service">
        <div class="heading">
        <h2 class="heading">--: ! What we Deliver ! :--</h2>
        </div>
        <div class=" service-container">
            <div class="s-box">
                
                <h3>Shipping</h3>
                <p>We have an exclusive offer for the home delivery too. The food is freshly cooked and is shipped within 30 min. We make sure that the things we keep in parcel remains fresh and hot as if the people at home are eating in the restaurants only. Moreover, every Wednesday we have free delivery for our customers.</p>
            </div>
            <div class="s-box">
                
                <h3>About our Food and Chefs</h3>
                <p>

                    The delicacies of the food villa are only due the very talented chefs and their different and new mouthwatering recipes. The chefs working here wear gloves and follow the tidiness to give the customers a healthy meal and which is the main reason of concern now</p>
            </div>
            <div class="s-box">
                
                <h3>Weekly Offers</h3>
                <p>Customers are God to us and in our FoodVilla we have various of offers to serve and make customers happy. Wednesday, we have free shipping available for all, Friday is the day for combo offers and buy one get one offers on our exclusive meals. We update everything on every Fridays about the offers on our website.</p>
            </div>
        </div>
</section>

    