<div class="table-data">
 <div class="heading">

            <h2> Meals List</h2>
        </div>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>TopMeal</th>
            <th>Time</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
       {{#each mealKits}}
        <tr>
            <td> {{Title}} </td>
            <td> {{Description}} </td>
            <td> {{Price}} </td>
            <td> {{TopMeal}} </td>
            <td> {{Time}} </td>
            <td> {{Image}} </td>
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
      {{/each}}
        
    </table>
    </div>

