<section class="menu" id="menu">
        <div class="heading">

            <h2>Meals List</h2>
        </div>
        <div class="menu-container">
            {{#each mealKits}}
            <a href="details/{{title}}"> 
            <div class="box">
                <div class="box-img">
                    <img src={{Image}} alt="">
                    <h2>{{Topic}}</h2>
                    <h4>{{Description}}</h4>
                    <span class="btn">{{Price}}</span>
                </div>
            </div>
            </a>
            {{/each}}
        </div>
</section>
<style>
    table {
    border-collapse: collapse;
}
th {
    text-align: left;
}
</style>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
   {{#each mealKits}}
  <tr>
    <td> {{Title}} </td>
    <td> {{Title}} </td>
    <td> {{Title}} </td>
  </tr>
{{/each}}
</table>
  
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>S.N</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
       {{#each mealKits}}
        <tr>
            <td> {{Title}} </td>
            <td> {{Description}} </td>
            <td> {{Price}} </td>
            <td> {{TopMeal}} </td>
            <td><%=data.country %></td>
            <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Delete</a></td>
        </tr>
      {{/each}}
        
    </table>
    </div>
</body>
</html>
